*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-block: 2.5rem;
  padding-inline: 2.5rem;
  margin-inline: auto;
  background-color: lightgray;
}

.box {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
}

.flex {
  display: flex;
  row-gap: 1rem;
  column-gap: 1.5rem;

  .box {
    background-color: salmon;
  }

  &-opt1 {
    // .box:nth-of-type(2) {
    //   flex-grow: 1;
    // }
    .box {
      flex-grow: 1;
    }
  }

  &-opt2 {
    flex-wrap: wrap;

    .box {
      flex-grow: 1;
      min-width: 12.5rem;
    }
  }

  &-opt3 {
    flex-wrap: wrap;

    // justify-content: space-between;
    justify-content: center;

    .box {
      width: 200px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 1.5rem;

  .box {
    background-color: slateblue;
  }

  &-opt1 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
